<nav class="nav">
    <h1><a routerLink="/">E-farmmer</a></h1>
    <div *ngIf="menuType==='default'" class="search">
        <input type="text" (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="search for product" />
        <button>search</button>
        <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a><h5>{{item.name}}</h5></a>
            </li>
        </ul>
    </div>

    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="/">home</a></li>
            <li><a routerLink="/seller-auth">seller</a></li>
            <li><a>login</a></li>
            <li><a>cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="seller-add-product">add product</a></li>
            <li><a routerLink="/seller-home">product list</a></li>
            <li><a (click)="logout()">logout</a></li>
            <li><a>{{sellerName| titlecase}}</a></li>
        </ul>
    </div>

</nav>