.nav {
    margin: 0;
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
    color: rgb(158, 11, 243);
    width: 99vw;
    height: 10vh;

}


.nav h1 a{
    text-decoration: none;
    color: rgba(177, 226, 43, 0.89);
}
.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    margin-left: 5%;
    padding: 0;
}

.nav li {
    padding-left: 15px;
    padding-top: 15px;
}

.nav li a {
    text-decoration: none;
    color: rgb(214, 226, 43);
}

.nav .search {
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 0px;
    flex: 1;
    display: flex;
    
}
.farmmer{
    width: 255px;
    height: 80px;
    margin:0;
}

.nav .search input {
    flex: 1;
    color: rgb(192, 226, 43);
    border: 1px solid rgb(171, 226, 43);
    height: 39px;
    border-right: 0px;
    padding-left: 70px;
}

.nav .search button {
    color: rgb(213, 235, 23);
    border: 1px solid rgb(156, 226, 43);
    height: 39px;
    border-left: 0px;
}
.suggested-result{
    position: absolute;
    display: list-item !important;
    z-index: 10;
    background-color: #dddddda9;
    width: 450px;
    margin-left: 0px;
    top: 62px;
    border: 1px solid #c7d328;
}
.suggested-result li{
    border: 1px solid #ffffff;
    padding: 7px;
}
.suggested-result li a{
    cursor: pointer;
    color: rgb(133, 245, 5);

}