<div class="checkout-page">
    <h1>checkout</h1>
    <p class="message-p">{{ordermsg}}</p>
    <div class="row">
        <div class="col-sm-7 shiping-address" >
        <h4>add shiping adderess</h4>
        <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
            <input type="text" class="form-input" name="email" placeholder="enter your email" ngModel>
            <input type="text" class="form-input" name="address" placeholder="enter your address" ngModel>
            <input type="text" class="form-input" name="mobileno" placeholder="enter your mobile number" ngModel>
            <input type="file" class="form-input" name="photo" placeholder="upload your near photo" ngModel>
            <button class="form-button">order now</button>

        </form>
        </div>
        <div class="col-sm-5">
      <h3>total amount :{{totalPrice}}</h3>
      <h4>payment method: <b>cash on dilivery</b></h4>
        </div>
    </div>
</div>