<div class="row product-details" *ngIf="productdata">
    <div class="col-sm-6" ><img class="product-image" src="{{productdata.image}}"></div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productdata.name}}</h1>
            <h3>price:{{productdata.price}}</h3>
            <div><h5 [style.backgroundColor]="productdata.color" class="product-color"></h5></div>
            <h6>category:{{productdata.category}}</h6>
            <h6>{{productdata.description}}</h6>
            <button *ngIf="!removeCart" class="form-button" (click)="AddToCart()">add to cart</button>
            <button *ngIf="removeCart" class="form-button" (click)="removeToCart(productdata.id)">remove from cart</button>
            <button class="form-button">buy now</button>
            <div class="quantity-group">
                <button (click)="handleQuantity('min')">-</button>
                <input type="text" value="{{productQuantity}}">
                <button (click)="handleQuantity('plus')">+</button>
            </div>
        </div>
    </div>

</div>