<div class="seller-auth">
    <div class="signup">
        <h1>seller sign-up</h1>
        <form #sellersignup="ngForm" (ngSubmit)="signUp(sellersignup.value)" class="common-form">
            <input class="form-input" ngModel name="name" type="text" placeholder="enter name">
            <input  class="form-input" ngModel name="passwaord" type="password" placeholder="enter password">
            <input  class="form-input" ngModel name="email" type="text" placeholder="enter email">
            <button  class="form-button">signup</button>
        </form>

    </div>
</div>