<div class="seller-auth">
    <div *ngIf="!showLogin" class="signup">
    <h1>user signup</h1>
        <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)" class="common-form">
        <input class="form-input" ngModel name="name" type="text" placeholder="enter your name">
        <input class="form-input" ngModel name="email" type="text" placeholder="enter your email">
        <input class="form-input" ngModel name="password" type="password" placeholder="enter password">
        <button class="form-button">signup</button>
        <p>Already Have Account? <a (click)="openLogin()">click here to login</a></p>
    </form>
    </div>
    <div *ngIf="showLogin" class="signup">
        <h1>user Login</h1>
        <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)" class="common-form">
        <input class="form-input" ngModel name="email" type="text" placeholder="enter your email">
        <input class="form-input" ngModel name="password" type="password" placeholder="enter password">
        <button class="form-button">login</button>
        <p>Don't Have Account? <a (click)="openSignUp()">click here to signup.</a></p>

    </form>
    </div>
</div>