<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">Profile update</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <form><div  *ngIf="usersdata">

            <div class="mb-3">
                <div class="input-group">
                    <div class="profile-container">
                        <div class="profile-photo">
                            <img src="https://i.ibb.co/x7xJTNJ/Screenshot-2023-09-12-18-27-18-17-6012fa4d4ddec268fc5c7112cbb265e7-1.jpg" alt="Profile Photo">
                        </div>
                        <div class="profile-name">
                            <h1>{{usersdata.name}}kesh</h1>
                            <h2>{{usersdata.email}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
        <div class="text-end">
        </div>
    </div>
</ng-template>
<!--button  class="btn btn-lg btn-outline-primary" (click)="open(content)">Profile</button-->
<form><div class="kesh" *ngIf="usersdata">

    <div class="mb-3">
        <div class="input-group">
            <div class="profile-container">
                <div class="profile-photo">
                    <img src="https://i.ibb.co/x7xJTNJ/Screenshot-2023-09-12-18-27-18-17-6012fa4d4ddec268fc5c7112cbb265e7-1.jpg" alt="Profile Photo">
                </div>
                <div class="profile-name">
                    <h1>{{usersdata.name}}keshavraj pore</h1>
                    <h2>{{usersdata.email}}keshav@453.com</h2>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>