
<form>
    <div class="kesh" *ngIf="">
      <div class="mb-3">
        <div class="input-group">
          <div class="profile-container">
            <div class="profile-photo">
              <img src="https://i.ibb.co/x7xJTNJ/Screenshot-2023-09-12-18-27-18-17-6012fa4d4ddec268fc5c7112cbb265e7-1.jpg" alt="Profile Photo">
            </div>
            <div class="profile-name">
              <h1>keshavraj pore</h1>
              <h2>keshav@453.com</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  