<ngb-carousel class="carou" *ngIf="popularproducts">
	<ng-template *ngFor="let item of popularproducts" ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="/details/{{item.id}}"> <img class="product-header-image" src="{{item.image}}" alt="Random first slide" /></a>
		</div>
		<div class="carousel-caption">
			<h3>{{item.name}} </h3>
			 <p>{{item.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="product-list-wrapper">
	<h1>Trendy Product <span class="new">New</span></h1>
	<div class="row treandy">
		<div class="col-sm-3" *ngFor="let item of trendyProducts">
			<div class="product-item">
				<a routerLink="/details/{{item.id}}"> <img src="{{item.image}}" alt=""></a>
				<div class="product-details">
				 	 <h6 class="product-head">{{item.name}}</h6>
					<div class="product-price">
						<h6>{{item.price}}₹</h6>
					</div>
					<div class="product-color">
						<h6>{{item.color}}</h6>
					</div>
					<div class="product-footer">
						<a routerLink="/details/{{item.id}}">view Details</a>
						<a>Add to cart</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="discount">
<div class="product-list-wrapper">
	<h1>discounted product<span class="new">New</span></h1>
	<div class="row treandy">
		<div class="col-sm-3" *ngFor="let item of discounted">
			<div class="product-item">
				<a routerLink="/details/{{item.id}}"> <img src="{{item.image}}" alt=""></a>
				<div class="product-details">
				 	 <h6 class="product-head">{{item.name}}</h6>
					
					
						<h3>order now {{item.discount}}  OFF</h3>
					
					
				</div>
			</div>
		</div>
	</div>
</div>
</div>